name: buiding continuoes integration

run-name: run of simple workflow

on: 
  push:
      branches: [ "main" ]
  pull_request:
      branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a single line script
        run : echo "Hello World !"
      - name: Run a Multi line script
        run : |
            echo "add other actions to build",
            echo test, and deploy your project.
      
