
name: cache

run-name: running a variables_and_secrets file

on: 
  workflow_dispatch:
    inputs:
      variable1:
        description: "select browser" 
        type: choice
        options:
            - "chrome"
            - "microsoft edge"
        default: "chrome"
        required: true
          
  

jobs:
  variable:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
         node-version: "20"
      - name: caching nodejs
        id: caching-node-modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{runner.os}}-cacheing-node-modules-${{hashFiles('**/package-lock.json')}}
          restore-key: |
            ${{runner.os}}-caching-node-modules
      - name: cache-browsers
        id: cache-browsers
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{runner.os}}-playwright-browser-${{hashFiles('**/package-lock.json')}}
          restore-key: |
            ${{runner.os}}-playwright-browser  
      - name: install dependicies
        #if: steps.caching-node-modules.outputs.cache-hit != true
        run: npm ci --include-dev
      - name: install playwright browser
        #if: steps.cache-browsers.outputs.cache-hit != true
        run: npx playwright install --with-deps
      - name: upload test results
        uses: actions/upload-artifact@v4
        with:
          name: ctrf-report
          path: test-results/ctrf-report.json
      - name: Upload CTRF report
        if: always()
        uses: actions/download-artifact@v4
        with:
          name: ctrf-report
        
  
